body{
    background-color: #212421;
    margin: 0;
    font-family: "Poppins", serif;
}
section{
    padding: 60px 60px 40px 60px;
}
html {
  scroll-behavior: smooth;
} 
#header{
	padding-top:40px;
}
#header .nav{
    display: flex;
    color: aliceblue;
}
#header .nav h3{
    font-size: 32px;
    margin-left: 100px;
    margin-top: 7px;
    font-family: "DM Serif Display", serif;
}
#header .nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
    margin-right: 580px;
    font-size: 18px;
    margin-left: 40px;
}
#header .nav ul li a{
    color: gray;
    text-decoration: none;
}
#header .nav ul li a:hover{
    color: #ea8f10;
    transition: 0.9s;
}
#header .nav button{
    background-color: #ea8f10;
    border: none;
    font-size: 18px;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    color: white;
}
#header .nav button a{
    color: white;
    text-decoration: none;
}
#first{
    display: flex;
    margin: 0px 40px 0px 40px;
    max-width: 100%;
    gap: 240px;
}
#first #text {
    width: 50%;
}
#first #image {
    width: 50%;
}
#first #text h2{
    color: #ea8f10;
    font-weight: 500;
    margin-top: 70px;
}
#first #text h1{
    color: white;
    font-size: 72px;
    margin: 0;
    font-weight: 600;
    font-family: "DM Serif Display", serif;
    letter-spacing: 2px;
}
#first #text p{
    color: white;
    line-height: 30px;
}
#first #text button{
    background-color: #ea8f10;
    border: none;
    font-size: 18px;
    width: 225px;
    height: 60px;
    border-radius: 10px;
    margin-top: 20px;
}
#first #text button a{
    color: white;
    text-decoration: none;
}

#first #imgage img{
    width: 400px;
    height: 450px;
    border-radius: 30px;
}
#about{
    display: flex;
    margin: 0px 40px 0px 40px;
    max-width: 100%;
    gap: 90px;
}
#about .div1 {
    width: 50%;
}
#about .div2 {
    width: 50%;
}
#about .div1 h1{
    color: #ea8f10;
    font-weight: 400;
}
#about .div1 h2{
    color: #fef6e6;
    font-size: 64px;
    font-family: "DM Serif Display", serif;
    letter-spacing: 2px;
    margin-top: -20px;
    font-weight: 600;
}
#about .div2 p{
    color: #fef6e6;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}
#about .div1 button{
    background-color: #ea8f10;
    border: none;
    font-size: 18px;
    width: 225px;
    height: 60px;
    border-radius: 10px;
}
#about .div1 button a{
    color: white;
    text-decoration: none;
}
#contact .start{
    text-align: center;
}
#contact .start h1{
    text-align: center;
    font-size: 72px;
    color: #fef6e6;
    font-family: "DM Serif Display", serif;
    font-weight: 500;
}
.footer__socials {
    margin-top:-40px;
  }

.footer__socials a {
    padding: 5px 10px;
    font-size: 1.25rem;
    color: #ea8f10;
    border: 1px solid #ea8f10;
    border-radius: 100%;
    transition: 0.3s;
    margin: 10px;
    text-decoration: none;
  }
  
  .footer__socials a:hover {
    color: #fff;
    background-color: #ea8f10;
  }


/* ===== WORK =====*/
#hobb h1{
    text-align: center;
    font-size: 72px;
    color: #fef6e6;
    font-family: "DM Serif Display", serif;
    font-weight: 500;
}

.work__container {
    display: flex;
    margin: 0px 40px 0px 40px;
    max-width: 100%;
    gap: 50px;

  }
  .work__img {
    box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
    border-radius: 0.5rem;
    overflow: hidden;
    text-align: center;
  }
  .work__img img {
    transition: 1s;
    width: 350px;
	height:200px;
    margin-bottom: 20px;
  }
  .work__img span {
    color: white;
    font-family: "Poppins", serif;
    text-transform: uppercase;
    
  }
  .work__img img:hover {
    transform: scale(1.1);
  }


  /* ===== CONTACT =====*/
  #footer{
    margin: 0px 40px 0px 40px;
    max-width: 100%;
  }
  #footer h1{
    text-align: center;
    font-size: 72px;
    color: #fef6e6;
    font-family: "DM Serif Display", serif;
    font-weight: 500;
}
.contact__input {
    width: 100%;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: 1.5px solid var(--second-color);
    outline: none;  }
  .contact__button {
    background-color: #ea8f10;
    border: none;
    font-size: 18px;
    width: 225px;
    height: 60px;
    border-radius: 10px;
    margin-top: 20px;
  }